:root {
  --tb-primary: $primary;
  --tb-secondary: $secondary;
  --tb-warning: $warning;
  --tb-danger: $danger;
  --tb-success: $success;
  --tb-light: $light;
  --tb-dark: $dark;
}

@media (prefers-color-scheme: dark) {
  body, #wrapper {
    --text-color: #f7f7f7;
    --background-color: #1d1e22;
  }
}
@media (prefers-color-scheme: light) {
  body, #wrapper {
    --text-color: #1d1e22;
    --background-color: #f7f7f7;
  }
}
*, *::before, *::after {
  box-sizing: border-box;
}

#wrapper {
  display: grid;
  min-height: 100vh;
  width: 100vw;
  color: var(--text-color);
  background-color: var(--background-color);
  font-family: "Open Sans", sans-serif;
  grid-template-areas: "sidebar topbar topbar" "sidebar content content";
  grid-template-columns: 300px auto;
  grid-template-rows: 70px auto;
}
#wrapper #sidebar {
  display: flex;
  flex-flow: column nowrap;
  grid-area: sidebar;
  background-color: #333b45;
}
#wrapper #sidebar #siteTitle {
  display: flex;
  height: 70px;
  padding: 30px;
  margin-top: 20px;
  margin-bottom: 60px;
  align-items: center;
  text-decoration: none;
  color: #f7f7f7;
}
#wrapper #sidebar #siteTitle > i {
  margin: 0 auto;
  color: #f7f7f7;
}
#wrapper #sidebar #siteTitle > span {
  margin: 0 auto;
  font-size: 32px;
  font-weight: 900;
}
#wrapper #sidebar ul.sidebar-items {
  list-style: none;
  margin: 0;
  padding: 0;
}
#wrapper #sidebar ul.sidebar-items li.sidebar-item {
  display: flex;
  height: 60px;
  align-items: center;
  background-color: #333b45;
}
#wrapper #sidebar ul.sidebar-items li.sidebar-item ::deep a {
  display: flex;
  flex-grow: 1;
  align-items: center;
  text-decoration: none;
  width: 100%;
  height: 100%;
  color: #f7f7f7;
  transition-timing-function: ease;
  transition-duration: 0.3s;
  transition-property: all;
}
#wrapper #sidebar ul.sidebar-items li.sidebar-item ::deep a div {
  display: inherit;
  align-items: inherit;
  padding: 0 20px;
}
#wrapper #sidebar ul.sidebar-items li.sidebar-item ::deep a div i {
  margin-right: 1em;
}
#wrapper #sidebar ul.sidebar-items li.sidebar-item ::deep a div span {
  font-size: 20px;
  font-weight: 700;
}
#wrapper #sidebar ul.sidebar-items li.sidebar-item ::deep a:hover:not(.active) {
  background-color: #37404b;
  color: white;
}
#wrapper #sidebar ul.sidebar-items li.sidebar-item ::deep a.active {
  background-color: #444f5c;
  color: white;
}
#wrapper #sidebar .sidebar-footer {
  display: flex;
  flex-flow: column nowrap;
  margin-top: auto;
  margin-bottom: 50px;
  align-items: center;
}
#wrapper #sidebar .sidebar-footer button.sign-out-button, #wrapper #sidebar .sidebar-footer a.sign-in-link {
  color: #f7f7f7;
  text-decoration: none;
}
#wrapper #sidebar .sidebar-footer button.sign-out-button span, #wrapper #sidebar .sidebar-footer a.sign-in-link span {
  margin-left: 8px;
  font-weight: 700;
  font-size: 20px;
}
#wrapper #sidebar .sidebar-footer button.sign-out-button:hover, #wrapper #sidebar .sidebar-footer a.sign-in-link:hover {
  color: white;
}
#wrapper #topbar {
  display: flex;
  flex-flow: row nowrap;
  grid-area: topbar;
  align-items: center;
  padding: 0 20px;
}
#wrapper #content {
  padding: 20px;
  grid-area: content;
  width: 100%;
  justify-self: center;
}

@media screen and (min-width: 1400px) {
  #wrapper #content {
    width: 60%;
  }
}
@media screen and (min-width: 1200px) {
  #wrapper #content {
    width: 80%;
  }
}
