$font-family: 'Nunito', sans-serif;

$blue: #269cff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #e74c3c;
$orange: #fd7e14;
$yellow: #f39c12;
$green: #00bc8c;
$teal: #20c997;
$cyan: #17a2b8;
$white: #b0b4b7;
$grey: #444857;
$grey-dark: #333b45;
$black: #1d1e22;

$primary: $blue;
$secondary: $grey;
$warning: $yellow;
$danger: $red;
$success: $green;
$light: $white;
$dark: $black;

$transition-timing-function: ease;
$transition-duration: .3s;