/*
    NOTE: This file should be compiled to "wwwroot/css/root.css".
    This will contain all the styles that should be available globally throughout the site.
*/
:root {
  --red: #e74c3c;
  --orange: #fd7e14;
  --yellow: #f39c12;
  --green: #00bc8c;
  --blue: #269cff;
  --purple: #6f42c1;
  --white: #b0b4b7;
  --grey: #444857;
  --grey-dark: #333b45;
  --black: #1d1e22;
  --background-color: #1d1e22;
  --middleground-color: #333b45;
  --foreground-color: #444857;
  --text-color: #b0b4b7;
  --transition-duration: 0.3s;
}

body {
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  transition-duration: 0s;
}

/*
    Loader
*/
.loader {
  position: absolute;
  width: 65px;
  height: 100px;
  left: calc(50% - 32.5px);
  top: calc(50% - 50px);
}
.loader::before, .loader::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #269cff;
}
.loader::before {
  top: 0;
  left: 0;
  animation: move-and-rotate-before 1.8s ease infinite;
}
.loader::after {
  bottom: 0;
  right: 0;
  animation: move-and-rotate-after 1.8s ease infinite;
}
@keyframes move-and-rotate-before {
  0% {
    transform: translateX(0) translateY(0) rotate(0turn) scale(1);
  }
  25% {
    transform: translateX(40px) translateY(0) rotate(-0.5turn) scale(0.8);
  }
  50% {
    transform: translateX(40px) translateY(75px) rotate(-1turn) scale(1);
  }
  75% {
    transform: translateX(0) translateY(75px) rotate(-1.5turn) scale(0.8);
  }
  100% {
    transform: translateX(0) translateY(0) rotate(-2turn) scale(1);
  }
}
@keyframes move-and-rotate-after {
  0% {
    transform: translateX(0) translateY(0) rotate(0turn) scale(1);
  }
  25% {
    transform: translateX(-40px) translateY(0) rotate(-0.5turn) scale(0.8);
  }
  50% {
    transform: translateX(-40px) translateY(-75px) rotate(-1turn) scale(1);
  }
  75% {
    transform: translateX(0) translateY(-75px) rotate(-1.5turn) scale(0.8);
  }
  100% {
    transform: translateX(0) translateY(0) rotate(-2turn) scale(1);
  }
}
