$font-family: 'Open Sans', sans-serif;

$blue: #0275d8;
$indigo: #00368c;
$purple: #4f49c6;
$pink: #e83e8c;
$red: #fa7970;
$orange: #f0ad4e;
$yellow: #eed46e;
$green: #5cb85c;
$teal: #5bc0de;
$cyan: #17a2b8;

$white: #f7f7f7;
$grey: #979DA1;
$grey-dark: #333b45;
$black: #1d1e22;

$primary: $blue;
$secondary: $grey;
$info: $indigo;
$warning: $yellow;
$danger: $red;
$success: $green;
$light: $white;
$dark: $black;

$color-map: (
    'red': $red,
    'pink': $pink,
    'orange': $orange,
    'yellow': $yellow,
    'green': $green,
    'blue': $blue,
    'indigo': $indigo,
    'purple': $purple,
    'cyan': $cyan,
    'teal': $teal,
    'white': $white,
    'grey': $grey,
    'grey-dark': $grey-dark,
    'black': $black
);

$theme-color-map: (
    'primary': $primary,
    'secondary': $secondary,
    'info': $info,
    'warning': $warning,
    'danger': $danger,
    'success': $success,
    'light': $light,
    'dark': $dark
);

$transition-timing-function: ease;
$transition-duration: .3s;

$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;
$bp-xxl: 1400px;