@page "/"
@using Trailblazor.Client.Shared
@using ApexCharts

<PageTitle>Trailblazor - Home</PageTitle>

<div class="d-flex flex-column">
    <div class="align-self-center">
        <ApexChart @ref="WeightChart"
                   TItem="GearCollection"
                   Title="Categories"
                   Width="500"
                   Options="DefaultChartOptions">
            <ApexPointTooltip>
                @{
                    var point = context.DataPoint as DataPoint<GearCollection>;

                    <div style="padding: 1em;">
                        <div>@(new Weight(point?.Y ?? 0, GearListViewModel.PreferredUnit).ToShortString())</div>
                    </div>

                }
            </ApexPointTooltip>
            <ChildContent>
                <ApexPointSeries TItem="GearCollection"
                                 Items="GearListViewModel.GearCollections"
                                 SeriesType="SeriesType.Donut"
                                 Name="Orders"
                                 XValue="@(x => x.Name)"
                                 YValue="@(x => x.GearItemTotalWeight.Amount)"
                                 OrderByDescending="@(x => x.Y)">
                </ApexPointSeries>
            </ChildContent>
        </ApexChart>
    </div>

    <GearList @ref="GearList" Model="GearListViewModel">
    </GearList>
</div>

@code {
    private ApexChart<GearCollection> WeightChart = null!;
    private GearList GearList = null!;

    private GearListViewModel GearListViewModel = new()
    {
        Name = "Gear List 1",
        Description = "Gear List 1 Description",
        GearCollections = new()
{
            new() {
                Name = "Base",
                GearItems = new()
{
                    new()
                    {
                        Name = "Gear Item 1",
                        Description = "This is gear item 1",
                        Weight = new(1, WeightUnit.Pounds),
                        Order = 1,
                        Quantity = 1
                    },
                    new()
                    {
                        Name = "Gear Item 2",
                        Description = "This is gear item 2",
                        Weight = new(13, WeightUnit.Ounces),
                        Order = 2,
                        Quantity = 5
                    }
                }
            },
            new()
            {
                Name = "New Collection",
                GearItems = new()
{
                    new()
                    {
                        Name = "Other Gear Item",
                        Description = "this is another gear item",
                        Weight = new(20, WeightUnit.Ounces),
                        Order = 1,
                        Quantity = 3
                    },
                    new()
                    {
                        Name = "Foo",
                        Description = "Bar",
                        Weight = new(15, WeightUnit.Grams),
                        Order = 2,
                        Quantity = 3
                    }
                }
            }
        }
    };

    private ApexChartOptions<GearCollection> DefaultChartOptions = new()
    {
        Theme = new()
        {
            Mode = Mode.Dark,
            Palette = PaletteType.Palette3
        },
        Stroke = new()
        {
            Colors = new() { "var(--grey-dark)" },
            Width = 3
        },
        Chart = new()
        {
            Animations = new()
            {
                DynamicAnimation = new()
                {
                    Enabled = false,
                    Speed = .5
                }
            }
        }
    };

    protected override void OnAfterRender(bool firstRender)
    {
        GearList.GearListChanged += async (_, _) => await WeightChart.RenderAsync();
    }
}