@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<div class="color-container">
    <div class="box box-red"></div>
    <div class="box box-orange"></div>
    <div class="box box-yellow"></div>
    <div class="box box-green"></div>
    <div class="box box-blue"></div>
    <div class="box box-indigo"></div>
    <div class="box box-purple"></div>
    <div class="box box-cyan"></div>
    <div class="box box-teal"></div>
    <div class="box box-white"></div>
    <div class="box box-grey"></div>
    <div class="box box-grey-dark"></div>
    <div class="box box-black"></div>
</div>