.color-container {
  display: flex;
  flex-flow: row;
  max-width: 800px;
}
.color-container .box {
  --box-width: 100px;
  width: var(--box-width);
  height: var(--box-width);
}
.color-container .box.box-red {
  background-color: #fa7970;
}
.color-container .box.box-pink {
  background-color: #e83e8c;
}
.color-container .box.box-orange {
  background-color: #f0ad4e;
}
.color-container .box.box-yellow {
  background-color: #eed46e;
}
.color-container .box.box-green {
  background-color: #5cb85c;
}
.color-container .box.box-blue {
  background-color: #0275d8;
}
.color-container .box.box-indigo {
  background-color: #00368c;
}
.color-container .box.box-purple {
  background-color: #4f49c6;
}
.color-container .box.box-cyan {
  background-color: #17a2b8;
}
.color-container .box.box-teal {
  background-color: #5bc0de;
}
.color-container .box.box-white {
  background-color: #f7f7f7;
}
.color-container .box.box-grey {
  background-color: #979DA1;
}
.color-container .box.box-grey-dark {
  background-color: #333b45;
}
.color-container .box.box-black {
  background-color: #1d1e22;
}
