#registerEmailContainer {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  align-items: center;
  justify-content: center;
}
#registerEmailContainer h1 {
  margin-bottom: 1em;
}
#registerEmailContainer #formContainer {
  display: flex;
  flex-flow: column nowrap;
  width: 500px;
  background-color: #444857;
  padding: 2em;
}
#registerEmailContainer #formContainer .input-container {
  margin-bottom: 1em;
}
#registerEmailContainer #formContainer .button-container {
  display: flex;
}

@media screen and (min-width: 992px) {
  #registerEmailContainer #formContainer {
    width: 500px;
  }
}
@media screen and (max-width: 992px) {
  #registerEmailContainer #formContainer {
    width: 80%;
  }
}
