#registerConfirmationContainer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  height: 100%;
}
#registerConfirmationContainer h1 {
  margin-bottom: 15px;
}
#registerConfirmationContainer .register-confirmation-body {
  background-color: #444857;
  padding: 20px;
}
#registerConfirmationContainer .register-confirmation-body p {
  margin: 0;
}
#registerConfirmationContainer .btn {
  margin-top: 20px;
}

@media screen and (min-width: 992px) {
  #registerConfirmationContainer .register-confirmation-body {
    width: 500px;
  }
}
@media screen and (max-width: 992px) {
  #registerConfirmationContainer .register-confirmation-body {
    width: 80%;
  }
}
